editor/aistarter_nodered_faq.json
[{"id":"55f8b58.216104c","type":"tab","label":"NLC学習の実行","disabled":false,"info":""},{"id":"95cf1bd6.73ace8","type":"tab","label":"回答データベース作成","disabled":false,"info":""},{"id":"36edc0f7.9842d","type":"tab","label":"FAQ画面","disabled":false,"info":""},{"id":"e65a4c49.a8b37","type":"tab","label":"データ削除","disabled":false,"info":""},{"id":"55074e50.f7cb7","type":"comment","z":"36edc0f7.9842d","name":"チャットへの入力処理","info":"","x":120,"y":180,"wires":[]},{"id":"96348399.8075","type":"http in","z":"36edc0f7.9842d","name":"","url":"/faq","method":"post","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["ea775588.86ead8"]]},{"id":"fc748545.3c80a8","type":"function","z":"36edc0f7.9842d","name":"回答なし","func":"msg.answer = '申し訳ございません。回答が見つかりません。';\nmsg.ref_url = \"\";\nmsg.confidence = \"0%\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":480,"wires":[["8c0261c3.5e2ed"]]},{"id":"8c0261c3.5e2ed","type":"template","z":"36edc0f7.9842d","name":"レスポンスの定義","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"response\" : \"{{answer}}\",\n    \"confidence\" : \"{{confidence}}\",\n    \"ref_url\" : \"{{ref_url}}\"\n}","x":930,"y":480,"wires":[["7629244c.126b9c","59aa38d2.029568"]]},{"id":"7629244c.126b9c","type":"http response","z":"36edc0f7.9842d","name":"画面表示","statusCode":"","headers":{},"x":1120,"y":480,"wires":[]},{"id":"c9c232c4.d080a","type":"cloudant in","z":"36edc0f7.9842d","name":"検索","cloudant":"","database":"faq-answer","service":"node-red-okano-bot-cloudantNoSQLDB","search":"_idx_","design":"index","index":"byClassName","x":930,"y":400,"wires":[["7f955414.d0a61c"]]},{"id":"ef994731.cc0e98","type":"watson-natural-language-classifier","z":"36edc0f7.9842d","name":"（NLC）質問内容判定","mode":"classify","language":"en","classifier":"1e0d8ex232-nlc-27217","x":520,"y":240,"wires":[["3011048c.4da78c","7cb88e7e.d91c1"]]},{"id":"ea775588.86ead8","type":"function","z":"36edc0f7.9842d","name":"入力テキスト受け渡し","func":"context.global.input_text =  msg.payload.input_text;\nmsg.payload = msg.payload.input_text;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["ef994731.cc0e98","ddb889fc.4ad648"]]},{"id":"3011048c.4da78c","type":"function","z":"36edc0f7.9842d","name":"確信度評価（80%以上のみ）","func":"var answerClass = {};\nanswerClass.confidence = 0;\nmsg.classes = msg.payload.classes;\nfor(var i=0;i<msg.classes.length;i++){\n    if(msg.classes[i].class_name == msg.payload.top_class) {\n        if(answerClass.confidence < msg.classes[i].confidence) {\n            answerClass = msg.payload.classes[i];\n        }\n    }\n}\nmsg.top_class = answerClass;\n\nif(answerClass.confidence < 0.8){\n    msg.payload = null;\n} else {\n    msg.payload = answerClass.class_name;\n    context.global.confidence = answerClass.confidence;\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["69a3be19.11698"]]},{"id":"69a3be19.11698","type":"switch","z":"36edc0f7.9842d","name":"確信度評価分岐","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":540,"y":440,"wires":[["57216cc1.1027d4"],["fc748545.3c80a8"]]},{"id":"7cb88e7e.d91c1","type":"debug","z":"36edc0f7.9842d","name":"NLCのデバッグ","active":true,"console":"false","complete":"payload","x":700,"y":200,"wires":[]},{"id":"ddb889fc.4ad648","type":"debug","z":"36edc0f7.9842d","name":"ユーザーの入力内容","active":true,"console":"false","complete":"payload","x":520,"y":280,"wires":[]},{"id":"7f955414.d0a61c","type":"function","z":"36edc0f7.9842d","name":"回答を整形","func":"msg.answer = msg.payload[0].answer;\nmsg.ref_url = msg.payload[0].ref_url;\nmsg.confidence = Math.round(context.global.confidence*100)+\"%\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":400,"wires":[["8c0261c3.5e2ed"]]},{"id":"371aa9c6.a124c6","type":"cloudant out","z":"36edc0f7.9842d","name":"問い合わせログ","cloudant":"","database":"faq-log","service":"node-red-okano-bot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1300,"y":560,"wires":[]},{"id":"59aa38d2.029568","type":"function","z":"36edc0f7.9842d","name":"ログを保存","func":"msg.payload = {};\nmsg.payload.question = context.global.input_text; \nmsg.payload.answer = msg.answer;\nmsg.payload.ref_url = msg.ref_url;\nmsg.payload.classes = msg.classes;\nmsg.payload.confidence = msg.confidence;\nmsg.payload.top_class = msg.top_class;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":560,"wires":[["371aa9c6.a124c6"]]},{"id":"d66521ed.2a46c","type":"comment","z":"55f8b58.216104c","name":"学習実行","info":"","x":80,"y":60,"wires":[]},{"id":"8cce4eb6.edae5","type":"inject","z":"55f8b58.216104c","name":"質問データに学習データを張付けてからClick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230,"y":100,"wires":[["ac512c69.136e9"]]},{"id":"ac512c69.136e9","type":"template","z":"55f8b58.216104c","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":490,"y":100,"wires":[["be0fa62d.b959e8"]]},{"id":"be0fa62d.b959e8","type":"watson-natural-language-classifier","z":"55f8b58.216104c","name":"NLCのトレーニング","mode":"create","language":"ja","classifier":"","x":680,"y":100,"wires":[["9a5606d1.f362a8"]]},{"id":"9a5606d1.f362a8","type":"debug","z":"55f8b58.216104c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":880,"y":100,"wires":[]},{"id":"d34bd7a3.433918","type":"inject","z":"55f8b58.216104c","name":"classifier(分類機）の一覧取得","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":200,"wires":[["eee90d65.a2583"]]},{"id":"eee90d65.a2583","type":"watson-natural-language-classifier","z":"55f8b58.216104c","name":"NLCの状況確認","mode":"list","language":"ja","classifier":"","x":540,"y":200,"wires":[["559fe076.79654"]]},{"id":"559fe076.79654","type":"debug","z":"55f8b58.216104c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":800,"y":200,"wires":[]},{"id":"2a6c6581.8954da","type":"comment","z":"55f8b58.216104c","name":"学習結果の一覧","info":"学習を複数回実行した場合、複数classifier_idが出力されるので日付で判断してください。\n","x":100,"y":160,"wires":[]},{"id":"b4e35344.a956c","type":"comment","z":"e65a4c49.a8b37","name":"Cloudant(DB)の回答データ全件削除","info":"","x":160,"y":260,"wires":[]},{"id":"be84fa9b.111c68","type":"inject","z":"e65a4c49.a8b37","name":"cleanup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":320,"wires":[["b47f5fad.047b2"]]},{"id":"b47f5fad.047b2","type":"cloudant in","z":"e65a4c49.a8b37","name":"全件取得","cloudant":"","database":"faq-answer","service":"node-red-okano-bot-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":240,"y":320,"wires":[["399fc253.b9c82e"]]},{"id":"c732d754.380e68","type":"switch","z":"e65a4c49.a8b37","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":530,"y":320,"wires":[["a139b8dd.276058"],["135c8cc1.3e9963"]]},{"id":"399fc253.b9c82e","type":"function","z":"e65a4c49.a8b37","name":"キー抽出","func":"context.global.payload=msg.payload;\nmsg.payload = context.global.payload.length;\ncontext.global.count = context.global.payload.length;\ncontext.global.unitCnt = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":320,"wires":[["c732d754.380e68"]]},{"id":"135c8cc1.3e9963","type":"function","z":"e65a4c49.a8b37","name":"1件削除","func":"msg.payload = context.global.payload[context.global.count-1];\ncontext.global.count = context.global.count - 1;\ncontext.global.unitCnt += 1;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":340,"wires":[["dcfcf58f.dc1bf8","ac6e18e3.f87d18"]]},{"id":"dcfcf58f.dc1bf8","type":"cloudant out","z":"e65a4c49.a8b37","name":"削除","cloudant":"","database":"faq-answer","service":"node-red-okano-bot-cloudantNoSQLDB","payonly":false,"operation":"delete","x":818.0000228881836,"y":340.0000104904175,"wires":[]},{"id":"e96d0e46.ba45b","type":"delay","z":"e65a4c49.a8b37","name":"","pauseType":"delay","timeout":"110","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":380,"wires":[["fc7a9e66.9301b"]]},{"id":"fc7a9e66.9301b","type":"function","z":"e65a4c49.a8b37","name":"Fetch","func":"msg.payload = context.global.count;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["c732d754.380e68"]]},{"id":"a139b8dd.276058","type":"debug","z":"e65a4c49.a8b37","name":"","active":true,"console":"false","complete":"false","x":670,"y":300,"wires":[]},{"id":"98f7f818.bdcda8","type":"comment","z":"e65a4c49.a8b37","name":"NLCの学習データを削除する","info":"","x":140,"y":80,"wires":[]},{"id":"d6bb6cbd.a2bf2","type":"link in","z":"e65a4c49.a8b37","name":"データの初期化(linkin)","links":["ac6e18e3.f87d18"],"x":115,"y":380,"wires":[["e96d0e46.ba45b"]]},{"id":"ac6e18e3.f87d18","type":"link out","z":"e65a4c49.a8b37","name":"データの初期化(linkout)","links":["d6bb6cbd.a2bf2"],"x":755,"y":380,"wires":[]},{"id":"e43dcba8.244ef8","type":"watson-natural-language-classifier","z":"e65a4c49.a8b37","name":"classifierの削除","mode":"remove","language":"en","classifier":"","x":500,"y":140,"wires":[["e8428e66.f13ac"]]},{"id":"e8428e66.f13ac","type":"debug","z":"e65a4c49.a8b37","name":"デバッグログ","active":true,"console":"false","complete":"payload","x":699.9999847412109,"y":140,"wires":[]},{"id":"5c9acb2b.f8a3f4","type":"inject","z":"e65a4c49.a8b37","name":"ペイロードに削除したいclassifier_idを入力","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":217.99996948242188,"y":139.99998664855957,"wires":[["e43dcba8.244ef8"]]},{"id":"eca79188.1fada","type":"function","z":"95cf1bd6.73ace8","name":"登録準備","func":"context.global.payload = msg.payload;\nmsg.payload = context.global.payload.length;\ncontext.global.count = context.global.payload.length;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":120,"wires":[["211cf58a.98c92a"]]},{"id":"331b50fd.e8e18","type":"inject","z":"95cf1bd6.73ace8","name":"回答登録","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":120,"wires":[["15b8aaf.a92fa55"]]},{"id":"211cf58a.98c92a","type":"switch","z":"95cf1bd6.73ace8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":430,"y":180,"wires":[["64b7d256.ac643c"],["543b66bb.0747b8"]]},{"id":"543b66bb.0747b8","type":"function","z":"95cf1bd6.73ace8","name":"登録","func":"msg.payload = context.global.payload[context.global.count-1];\ncontext.global.count = context.global.count - 1;\ncontext.global.unitCnt += 1;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["60ce52fe.cbe4cc","5bf91329.f8e92c"]]},{"id":"64b7d256.ac643c","type":"debug","z":"95cf1bd6.73ace8","name":"終了","active":true,"console":"false","complete":"payload","x":550,"y":180,"wires":[]},{"id":"4601220b.dd385c","type":"function","z":"95cf1bd6.73ace8","name":"ループ","func":"msg.payload = context.global.count;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["211cf58a.98c92a"]]},{"id":"60ce52fe.cbe4cc","type":"cloudant out","z":"95cf1bd6.73ace8","name":"DBに回答登録","cloudant":"","database":"faq-answer","service":"node-red-okano-bot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":780,"y":220,"wires":[]},{"id":"c810cb50.83e148","type":"comment","z":"95cf1bd6.73ace8","name":"Cloudant(DB)に回答を登録する","info":"","x":150,"y":60,"wires":[]},{"id":"7340ede3.efa6c4","type":"delay","z":"95cf1bd6.73ace8","name":"","pauseType":"delay","timeout":"110","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":220,"wires":[["4601220b.dd385c"]]},{"id":"1c8fd2d5.9f3dad","type":"comment","z":"95cf1bd6.73ace8","name":"Cloudant(DB)に検索用のIndexを作成する","info":"","x":180,"y":280,"wires":[]},{"id":"ebcbf08c.31dc5","type":"link in","z":"95cf1bd6.73ace8","name":"初期データ登録(linkin)","links":["5bf91329.f8e92c"],"x":55,"y":220,"wires":[["7340ede3.efa6c4"]]},{"id":"5bf91329.f8e92c","type":"link out","z":"95cf1bd6.73ace8","name":"初期データ登録(linkout)","links":["ebcbf08c.31dc5"],"x":655,"y":240,"wires":[]},{"id":"29d89f84.77a4b","type":"function","z":"95cf1bd6.73ace8","name":"index定義","func":"//作成するindexの中身をmsg.payloadに格納する\nmsg.payload = {\n  \"_id\": \"_design/index\",\n  \"views\": {},\n  \"language\": \"javascript\",\n  \"indexes\": {\n    \"byClassName\": {\n      \"analyzer\": \"standard\",\n      \"index\": \"function (doc) {\\n  index(\\\"class_name\\\", doc.class_name);\\n}\"\n    }\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["d32d6233.8056"]]},{"id":"d32d6233.8056","type":"cloudant out","z":"95cf1bd6.73ace8","name":"index登録","cloudant":"","database":"faq-answer","service":"node-red-okano-bot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":440,"y":340,"wires":[]},{"id":"7ffa2c3.a97f1d4","type":"inject","z":"95cf1bd6.73ace8","name":"Index作成","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":340,"wires":[["29d89f84.77a4b"]]},{"id":"2eb14a04.c63e06","type":"comment","z":"55f8b58.216104c","name":"学習進捗確認","info":"NLCの学習状況確認にclassifier_idを入力しデプロイしてください。","x":90,"y":260,"wires":[]},{"id":"8fefc8ef.0b4bd8","type":"watson-natural-language-classifier","z":"55f8b58.216104c","name":"NLCの学習状況確認","mode":"classify","language":"ja","classifier":"","x":560,"y":300,"wires":[["ff5fc84e.09d778"]]},{"id":"a70cb2ac.da85c","type":"inject","z":"55f8b58.216104c","name":"Classifier_idを右のノードに設定してからClick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230,"y":300,"wires":[["8fefc8ef.0b4bd8"]]},{"id":"ff5fc84e.09d778","type":"debug","z":"55f8b58.216104c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":800,"y":300,"wires":[]},{"id":"94d96593.715938","type":"comment","z":"55f8b58.216104c","name":"学習結果確認","info":"NLCの学習結果確認にclassifier_idを入力しデプロイしてください。","x":90,"y":360,"wires":[]},{"id":"795ac1f5.dbaad","type":"watson-natural-language-classifier","z":"55f8b58.216104c","name":"NLCの学習結果確認","mode":"classify","language":"ja","classifier":"","x":560,"y":400,"wires":[["b7e639c8.f71388"]]},{"id":"cb541056.c0829","type":"inject","z":"55f8b58.216104c","name":"ペイロードに質問を入力してからClick","topic":"","payload":"NLCの結果がみたい","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":400,"wires":[["795ac1f5.dbaad"]]},{"id":"b7e639c8.f71388","type":"debug","z":"55f8b58.216104c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":800,"y":400,"wires":[]},{"id":"15b8aaf.a92fa55","type":"template","z":"95cf1bd6.73ace8","name":"回答データをここにコピペ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":320,"y":120,"wires":[["175c1259.f2d31e"]]},{"id":"175c1259.f2d31e","type":"csv","z":"95cf1bd6.73ace8","name":"データ変換","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"class_name,answer,ref_url","x":550,"y":120,"wires":[["eca79188.1fada"]]},{"id":"9b38cbe5.0ae5d8","type":"http in","z":"36edc0f7.9842d","name":"","url":"/faq","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["68a0e560.ecffac"]]},{"id":"3fc88a62.d63226","type":"http response","z":"36edc0f7.9842d","name":"","x":510,"y":100,"wires":[]},{"id":"1a19fb8c.88cf34","type":"comment","z":"36edc0f7.9842d","name":"チャット画面表示","info":"","x":110,"y":60,"wires":[]},{"id":"b574ddfb.6043e","type":"template","z":"36edc0f7.9842d","name":"入力画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n  <meta charset=\"UTF-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n  <title>Ask Watson Demo</title>\n\n  <link rel=\"shortcut icon\" href=\"/images/favicon.ico\" type=\"image/x-icon\">\n  <link rel=\"icon\" href=\"/images/favicon.ico\" type=\"image/x-icon\">\n  <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css\">\n\n  <style type=\"text/css\">\n\n  \n.img-container img {\n    width: 100%;\n    height: 100%;\n    margin: 0px;\n}\n\n.errorMsg {\n    font-weight: bold;\n    color: red;\n    white-space: pre-wrap;\n}\n\n.header-text {\n    color: #FF7832;\n    font-weight: 500;\n    margin-top: 2rem;\n    padding-left: 15px;\n}\n\n.loading {\n    margin-top: -2rem;\n    z-index: 100;\n}\n\n.mar10r {\n    margin-left: 10px;\n}\n\n#loading {\n    width: 40px;\n    display: block;\n    margin-left: auto;\n    margin-right: auto;\n}\n\n.dialog-name-span {\n    font-weight: bold;\n}\n\n.conversation-div {\n    margin-bottom: 20px;\n}\n\n.chat-human {\n    text-align: right;\n}\n\n.chat-watson {\n    text-align: left;\n}\n\n#name {\n    border-top: 0px;\n    border-right: 0px;\n    border-left: 0px;\n    padding-left: 0px;\n}\n\n#file {\n    border: 0px;\n}\n\n.new-dialog-container {\n    border: 1px solid #e6e7e8;\n    cursor: pointer;\n    padding: 1.2rem;\n    margin-top: 2rem;\n}\n\n.new-dialog-container-loading {\n    margin-top: 10rem;\n    margin-bottom: 11.1rem;\n}\n\n.new-dialog-container:hover {\n    border: 3px solid #00B2EF;\n}\n\n.dialog-flow-title:hover {\n    color: #00B2EF;\n}\n\n.selected {\n    border: 1px solid #00B2EF;\n}\n\n.new-dialog-input-container {\n    margin: 6.75rem 0;\n}\n\n.create-btn:hover {\n    color: #00B2EF;\n    background-color: #fff;\n    border: 1px solid #00B2EF;\n}\n\n.dialog-flow-title {\n    text-align: center;\n    margin: 13rem 0;\n    line-height: 0px;\n    font-size: 41px;\n}\n\n.exist-dialog-flow-title {\n    text-align: center;\n    margin: 13rem 0 11.2rem;\n    line-height: 0px;\n}\n\n.new-dialog-flow-content {\n    display: none;\n}\n\n.dialog-links {\n    float: right;\n}\n\n.dialogs-loading {\n    margin-top: 11rem;\n}\n\n.dialogs-error {\n    margin-top: 11rem;\n}\n\n/*.chat-watson {\n    border: 1px solid #e6e7e8;\n    padding: 0.5rem;\n    width: 51%;\n    float: left;\n    background-color: #f4f4f4;\n    border-radius: 5px;\n}*/\n\n/* balloon-1 left */\n.chat-watson {\n\twidth: 85%;\n\tfloat: left;\n\tborder-radius: 10px;\n\tposition: relative;\n\tdisplay: inline-block;\n\tmin-width: 115px;\n\t/* height: 40px; */\n\tline-height: 34px;\n\tcolor: #222222;\n\ttext-align: left;\n\tbackground: #e6e7e8;\n\tborder: 3px solid #e6e7e8;\n\tz-index: 0;\n}\n.chat-watson:before {\n\tcontent: \"\";\n\tposition: absolute;\n\ttop: 50%; left: -8px;\n\tmargin-top: -9px;\n\tdisplay: block;\n\twidth: 0px;\n\theight: 0px;\n\tborder-style: solid;\n\tborder-width: 9px 9px 9px 0;\n\tborder-color: transparent #e6e7e8 transparent transparent;\n\tz-index: 0;\n}\n.chat-watson:after {\n\tcontent: \"\";\n\tposition: absolute;\n\ttop: 50%; left: -12px;\n\tmargin-top: -10px;\n\tdisplay: block;\n\twidth: 0px;\n\theight: 0px;\n\tborder-style: solid;\n\tborder-width: 10px 10px 10px 0;\n\tborder-color: transparent #e6e7e8 transparent transparent;\n\tz-index: -1;\n}\n\n\n/*\n.chat-human {\n    border: 1px solid #e6e7e8;\n    padding: 0.5rem;\n    width: 51%;\n    float: right;\n    background-color: #f4f4f4;\n    color: #00b482;\n    border-radius: 5px;\n}\n*/\n\n/* balloon-1 right */\n.chat-human {\n\tborder-radius: 10px;\n\tfloat: right;\n\tposition: relative;\n\tdisplay: inline-block;\n\twidth: 51%;\n\tmin-width: 115px;\n\theight: 40px;\n\tline-height: 34px;\n\tcolor: #ffffff;\n\ttext-align: center;\n\tbackground: #388FFF;\n\tborder: 3px solid #388FFF;\n\tz-index: 0;\n}\n.chat-human:before {\n\tcontent: \"\";\n\tposition: absolute;\n\ttop: 50%; right: -8px;\n\tmargin-top: -9px;\n\tdisplay: block;\n\twidth: 0px;\n\theight: 0px;\n\tborder-style: solid;\n\tborder-width: 9px 0 9px 9px;\n\tborder-color: transparent transparent transparent #388FFF;\n\tz-index: 0;\n}\n.chat-human:after {\n\tcontent: \"\";\n\tposition: absolute;\n\ttop: 50%; right: -12px;\n\tmargin-top: -10px;\n\tdisplay: block;\n\twidth: 0px;\n\theight: 0px;\n\tborder-style: solid;\n\tborder-width: 10px 0 10px 10px;\n\tborder-color: transparent transparent transparent #388FFF;\n\tz-index: -1;\n}\n\n\n.conversation-well {\n    min-height: 300px;\n}\n\n.no-padding-right {\n    padding-right: 0!important;\n}\n\n.no-padding-left {\n    padding-left: 0!important;\n}\n\n#response-input {\n    border: 3px solid #e6e7e8;\n    height: 36px;\n}\n\n\n#send-btn {\n    border: 3px solid #e6e7e8;\n    border-left: 0px;\n}\n\n.conversation-flow-container {\n    border: 3px solid #e6e7e8;\n    /*background-color: #5a5a5a;*/\n    padding: 1rem 0;\n    \n}\n\n.conversation-div {\n    background-color: #FFFFFF;\n    /*background-image: url(\"../images/mizuiro.png\");*/\n    /*-moz-background-size:100% auto;\n    background-size:100% auto;*/\n    padding-bottom: 2rem;\n    margin-bottom: 0;\n}\n\n.margin-bottom {\n    margin-bottom: 3rem!important;\n}\n\n.information-container {\n    margin-bottom: 20px;\n    color: #e0e0e0;\n}\n\n.profile-container {\n    color: #e0e0e0;\n}\n\n.green-title {\n    color: #222222;\n}\n\n.blue-title {\n    color: #388FFF;\n}\n\n.glay-title {\n    color: #222222;\n}\n\n.white-title {\n    color: #ffffff;\n}\n\n<!--\n-->\n\n\n  .bs-component {\n    position: relative;\n  }\n  .demoSize{\n    font-size: 14px; /*DEMO*/\n  }\n  .textEllipsis{\n    overflow: hidden;\n    text-overflow: ellipsis;\n    white-space: nowrap;\n  }\n  div#headerArea {\n    position: fixed !important;\n    position: absolute;\n    background-color: #000088;\n    color: #FFF;\n    top: 0;\n    height: 50px;\n    left: 0;\n    width: 80%;\n    z-index: 2;\n  }\n  div#conversation_field {\n    padding-left: 1%;\n    padding-right: 1%;\n  }\n  input.btn{\n    background-color: #000088;\n    color: #FFFFFF;\n  }\n\n\n  @media ( min-width: 768px ) {\n    body {\n      padding-top: 20px;\n      padding-bottom: 10%;\n    }\n    div#footerArea {\n      position: fixed !important;\n      position: absolute;\n      background-color: #FFFFFF;\n      bottom: 0;\n      height: 100px;\n      padding-top: 10px;\n      padding-right: 10%;\n      left: 0;\n      width:  80vw;\n      z-index: 1;\n    }\n    #QuestionText{\n      width:  50vw;\n      margin-left: 1%;\n    }\n  }\n  \n  \n\n  /* balloon common */\n  div.balloon-wrapper {\n  \twidth: 500px;\n  \tmargin: 15px auto;\n  }\n  div.balloon-wrapper::after {\n  \tclear: both;\n  \tcontent: \"\";\n  \tdisplay: block;\n  \tline-height: 0;\n  }\n  p.balloon-left,\n  p.balloon-right {\n  \tposition: relative;\n  \tz-index: 1;\n  \tmax-width: 80%;\n  \tmin-width: 10%;\n  \tmargin: 15px auto;\n  \tpadding: 13px;\n  \tbackground-color: #fff;\n  \tborder-width: 3px;\n  \tborder-style: solid;\n  \tborder-radius: 10px;\n  }\n  p.balloon-left::before,\n  p.balloon-right::before {\n  \tcontent: \"\";\n  \tdisplay: block;\n  \tposition: absolute;\n  \tz-index: 10;\n  \ttop: 10px;\n  \twidth:  0;\n  \theight: 0;\n  \tborder: 15px solid transparent;\n  }\n  p.balloon-left::after,\n  p.balloon-right::after {\n  \tcontent: \"\";\n  \tdisplay: block;\n  \tposition: absolute;\n  \tz-index: 100;\n  \ttop: 10px;\n  \twidth:  0;\n  \theight: 0;\n  \tborder: 15px solid transparent;\n  }\n\n  /* balloon left */\n  p.balloon-left {\n  \tfloat: left;\n  \tborder-color: #EEEEEE;\n    background-color: #EEEEEE;\n    overflow: hidden;\n    width: 100%;\n  }\n  p.balloon-left::before {\n  \tleft: -31px;\n  \tborder-right: 15px solid #EEEEEE;\n  }\n  p.balloon-left::after {\n  \tleft: -26px;\n  \tborder-right: 15px solid #EEEEEE;\n  }\n\n  /* balloon right */\n  p.balloon-right {\n  \tfloat: right;\n  \tborder-color: #CBFFD3;\n  \tbackground-color: #CBFFD3;\n    color:#000000;\n  }\n  p.balloon-right::before {\n  \tright: -31px;\n  \tborder-left: 15px solid #CBFFD3;\n  }\n  p.balloon-right::after {\n  \tright: -26px;\n  \tborder-left: 15px solid #CBFFD3;\n  }\n\n.balloon-watson {\n    width: 100%;\n    margin: 1.5em 0;\n    overflow: hidden;\n}\n\n.balloon-watson .faceicon {\n    float: left;\n    margin-right: -90px;\n    width: 80px;\n}\n\n.balloon-watson .faceicon img{\n    width: 100%;\n    height: auto;\n    /*border-radius: 50%;*/\n}\n\n.balloon-watson .chatting {\n    width: 100%;\n}\n\n.answer-watson {\n    display: inline-block;\n    position: relative; \n    margin: 5px 0 0 105px;\n    padding: 17px 13px;\n    border-radius: 12px;\n    background: #d7ebfe;\n}\n\n.answer-watson:after {\n    content: \"\";\n    display: inline-block;\n    position: absolute;\n    top: 18px; \n    left: -24px;\n    border: 12px solid transparent;\n    border-right: 12px solid #d7ebfe;\n}\n\n.answer-watson p {\n    margin: 0;\n    padding: 0;\n}\n\n\n</style>\n\n</head>\n\n  <!-- ガイド部分\n  ================================================== -->\n\n  \n<body class=\"claro\">\n  <div class=\"row service-container\">\n    <div class=\"col-lg-12 service-header\">\n    </div>\n    <div class=\"row conversation-div\">\n      <div class=\"container\">\n        <div class=\"col-lg-6 col-md-6 col-xs-6 no-padding-right\">\n          <h4 class=\"green-title\">Watson</h4>\n        </div>\n        <div class=\"col-lg-6 col-md-6 col-xs-6 text-right no-padding-left\">\n          <h4 class=\"blue-title\">You</h4>\n        </div>\n      </div>\n      <div class=\"container\">\n        <div class=\"conversation-flow-container clearfix\">\n          <div class=\"col-lg-12 col-md-12 col-xs-12\">\n            <div class=\"conversation-well conversation-container clearfix\">\n              <div class=\"row\">\n                <div class=\"col-lg-12 col-md-12 col-sm-12 col-xs-12\">\n                  <div class=\"bs-component\">\n                    <div id=\"conversation_field\"></div>\n                  </div>\n                </div>\n              </div>\n            </div>\n          </div>\n          <div class=\"col-lg-9 col-md-9 col-xs-9 no-padding-right\">\n            <input id=\"QuestionText\" type=\"text\" onkeydown=\"go()\" placeholder=\"質問を入力してください\" class=\"form-control\">\n          </div>\n          <div class=\"col-lg-3 col-md-3 col-xs-3 no-padding\">\n            <button type=\"submit\" id=\"send-btn\" class=\"input-btn btn btn-block\" onclick=\"askwatson($('#QuestionText').val());\">送信</button>\n\t\t  </div>\n      </div>\n    </div>\n  </div>\n<!--   <div class=\"row conversation-div\">\n    <div class=\"container\">\n      <div class=\"col-lg-12 col-md-12 col-xs-12\">\n        <button id=\"session-btn\" class=\"session-btn btn btn-block\">Refresh</button>\n      </div>\n    </div>\n  </div> -->\n</div>\n\n  <!-- JavaScript Section\n  ================================================== -->\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js\"></script>\n  <script>\n  var answerNumber = 1;\n  var conversation_id = \"\";\n  var client_id = \"\";\n  var dialog=false;\n\n$(function(){\n  setTimeout(function(){\n    document.getElementById(\"conversation_field\").innerHTML += '<div class=\"row\"><div class=\"balloon-watson\"><div class=\"faceicon\"><img src=\"https://raw.githubusercontent.com/softbank-developer/chat_on_nodered/master/images/avator.png\" width=\"50\" alt=\"\"></div><div class=\"chatting\"><div class=\"answer-watson\"><p>{{payload}}</p></div></div></div></div>';\n   },1000);\n  });\n\n  function askwatson(question) {\n    question = question.replace(/\\r?\\n/g,\"\");\n    question_no_space = question.replace(/\\s/g,\"\");\n    if(question_no_space != \"\") {\n        document.getElementById(\"conversation_field\").innerHTML += '<div class=\"row\"><div class=\"col-xs-12\"><p class=\"balloon-right\" id=\"watsonAnswer' + answerNumber + '\">' + question + '</p></div></div>';\n        $('#QuestionText').val(\"\");\n\n        $.ajax({\n            url: '/faq',\n            type: \"POST\",\n            data: {\n                \"input_text\" : question\n            },\n            dataType: 'json',\n        })\n\n\t\t\n        .done(function(response){\n            if(response.conversation_id != null){\n                conversation_id = response.conversation_id;\n                dialog=true;\n            }\n            var answer = response.response.replace(/\\n/g, \"<br>\") + '<br>(' + response.confidence + ')';\n            if(response.ref_url!==\"\") {\n                answer += '<br><br><a href=\"'+response.ref_url+'\" target=\"_blank\">'+response.ref_url+'</a>';\n            }\n            document.getElementById(\"conversation_field\").innerHTML += '<div class=\"row\"><div class=\"balloon-watson\"><div class=\"faceicon\"><img src=\"https://raw.githubusercontent.com/softbank-developer/chat_on_nodered/master/images/avator.png\" width=\"50\" alt=\"\"></div><div class=\"chatting\"><div class=\"answer-watson\"><p>' + answer + '</p></div></div></div></div>';\n            document.getElementById(\"watsonAnswer\" + answerNumber).scrollIntoView(true);\n            document.getElementById(\"QuestionText\").focus();\n            $('#QuestionText').val(\"\");\n            answerNumber++;\n        })\n        .fail(function( jqXHR, textStatus, errorThrown ){\n            document.getElementById(\"conversation_field\").innerHTML += '<div class=\"row\"><div class=\"col-xs-12\"><p class=\"balloon-left\">' + \"申し訳ございません。データに不備があります。\" + '</p></div></div>';\n        });\n\n    }\n    $('#searchFormId').on('submit', function() {\n        var question = $('#QuestionText').val();\n        askwatson(question);\n        return false;\n    });\n\n  }\n\n  function go(){\n  \tif(window.event.keyCode==13)$(\"#send-btn\").click();\n  }\n  \n  </script>\n\n\n</body>\n","x":380,"y":100,"wires":[["3fc88a62.d63226"]]},{"id":"68a0e560.ecffac","type":"template","z":"36edc0f7.9842d","name":"あいさつ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"こんにちは Watsonです。Watsonサービスに関する質問にお答えしますよ","x":240,"y":100,"wires":[["b574ddfb.6043e"]]},{"id":"57216cc1.1027d4","type":"function","z":"36edc0f7.9842d","name":"DBに回答問い合わせ","func":"msg.payload = \"class_name:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":400,"wires":[["c9c232c4.d080a"]]}]
